div(class='basics')
    div(class='left')
        span(class='name') #{resume.basics.name}
        span(class='label') #{resume.basics.label}
    div(class='right')
        ul
            li #{resume.basics.phone}
            li #{resume.basics.email}
            li #{resume.basics.location.region}
