if helper.validArray(resume.projects)
  div(class='projects margin-container-4')
    p(class='section-title no-alone-2') Projects
    div(class='container')
      each project in resume.projects
        div(class='article margin-container-3')
          div(class='header no-alone-1')
            div(class='table')
              div(class='left')
                span(class='title')=helper.arrayToPhrase(project.roles)
                span(class='subtitle margin-text-1')
                  a(href=project.url)=project.name
              div(class='right')
                span(class='date')=helper.calcDateRange(project.startDate, project.endDate)
          div(class='summary markdown margin-text-4')!=helper.mdToHtml(project.description)
          if helper.validArray(project.highlights)
            ul(class='highlights margin-text-4 no-break')
              each highlight in project.highlights
                li=highlight
